.container{
    display: flex;
    flex-direction: row;
}

.texto2{
   margin-left: 170px;
   margin-left: 170px;
    
}

#menu{
    background-color:  #283034;
}

#links{
    color: white;
}
   
    

img{
    height: 500px;
    margin-right: -85px;
}

h1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}